node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.vercel





node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cursorrules
.cursorrules-bak
.gemini-rules-bak
.gemini-rules
.claude/
.claudeignore
.agent/
.agentignore
.mcp/
.mcpignore
